<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro PUCBook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Cadastro</h1>

    <form action = "/cadastro" method = "post">
    {% csrf_token %}
        <div>
        <label for="">Nome de Usuario</label>
        <input type = "text" id = "nome_usuario" name = "nome_usuario" placeholder="Digite seu nome completo" Required>
        </div>

        <div>
        <label for="">Data de Nascimento</label>
        <input type = "date" id = "aniversario" name = "aniversario" placeholder="Digite seu nome completo" Required>
        </div>

        <div>
        <label for="">Curso</label>
        <select name="curso" id="curso">
            {% for curso in cursos %}
                <option value="{{ curso.nome }}">{{ curso.nome }}</option>
            {% endfor %}
        </select>
        

        <div>
        <label for="">Periodo</label>
        <input type = "number" id = "periodo" name = "periodo" placeholder="Digite seu Periodo" Required min = 1 max = 20>
        </div>

        <div>
        <p1>Carona: </p1><br>
        {% for carona in caronas %}
          <input type = "radio" name = "carona"> {{ carona.tipo }}
        {% endfor %}
        </div>
        

        <div>
        <label for="">Ponto de Encontro</label>
        <input type = "text" id = "ponto_encontro" name = "ponto_encontro" placeholder="Digite um ponto de encontro para caronas" Required>
        </div>

        <div>
        <label for="">Webmail da PUC</label>
        <input type = "email" id = "webmail" name = "webmail" placeholder="Digite seu webmail da PUC" Required>
        </div>

        <div>
        <label for="">Senha</label>
        <input type = "password" id = "senha1" name = "senha1" placeholder="Digite sua senha" Required>
        </div>

        <div>
        <label for="">Confirme sua senha</label>
        <input type = "password" id = "senha2" name = "senha2" placeholder="Confirme sua senha" Required>
        </div>

        <div>
        <p>Interesses Principais</p>
        </div>

        <div>
        <label for="interesse1">Interesse 1</label>
        <select name="int1" id="int1">
          <option value="esportes">Esportes</option>
          <option value="videogame">Videogames</option>
          <option value="teatro">Teatro</option>
          <option value="cinema">Cinema</option>
        </select>
        </div>

        <div>
        <label for="interesse2">Interesse 2</label>
        <select name="int2" id="int2">
          <option value="praia">Praia</option>
          <option value="montanha">Montanha</option>
          <option value="bares">Bares</option>
          <option value="trilha">Trilha</option>
        </select>
        </div>

        <div>
        <label for="interesse3">Interesse 3</label>
        <select name="int3" id="int3">
          <option value="fotografia">Fotografia</option>
          <option value="pets">Pets</option>
          <option value="culinaria">Culinaria</option>
          <option value="leitura">leitura</option>
        </select>
        </div><br>


        <div>
        <button type = "submit"> Cadastrar </button>
        </div>

    </form>
    
    <script src="" async defer></script>
  </body>
</html>