
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/groups/styles/styles.css'>
    <title>Consulta de Perfil</title>
</head>
    <body style = "background-color: #268BD2;">

        <div style = "background-color: #FDF6E3;margin:50px;height: 100%;">
    
    
            <div class = "TituloImagem" style = "float:left">

                <img src="../static/images/LuisFernando.jpg" alt="imagem de um perfil" style = "padding-left: 200px;padding-right: 300px;padding-bottom: 60px;padding-top:60px" height="400px" width="500px">
            </div>
    
            <div style = "padding-bottom: 100px;padding-top: 100px;">
                <p >Nome: Luis Fernando Texeira Bicalho </p>
                <p>Curso: Engenharia de Computação </p>
                <p>Período: 20° Período </p>
                <p>Ponto de Encontro: Jacarepaguá </p>
                <p style  = "padding-left: 1000px;">Busca Carona</p>
            </div>
    
            <div class = "GruposPerfil">
                <div class = "CaixaGrupo">
                    <caixas>Grupos de Carona que Participa</caixas>
                </div> 
                <div class = "CaixaGrupo">
                    <caixas>Próximo Evento que irá</caixas>
                </div> 
                <div class = "CaixaGrupo">
                    <caixas>Grupos Sociais que Participa</caixas>
                </div> 
    
            </div>
    
    
        </div>

    
    </body>
</html>


