{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importando Estilos -->
        <link rel="stylesheet" href="{% static 'groups/styles/styles.css' %}">
        <link rel="stylesheet" href="{% static 'groups/styles/consultaPerfil.css' %}">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>Consulta de Perfil</title>
    </head>
    <body class="container d-flex flex-column justify-content-center fundoAzul">
            <div class="conteudo fundo-informacao p-2">
                <div class="row">
                    <div class="col-2">
                        <a href = "/pagina-principal" style = "background-color:#FDF6E3;border:none;height:80px;width:100px;">
                            <img src="{% static 'images/IconeVoltar.png' %}"style = "background-color:#FDF6E3;border:none;height:80px;width:100px;">
                        </a>
                    </div>
                    <div class="col-3">
                        <img src="{{ user.foto.url }}" alt="imagem de um perfil" class = 'img-thumbnail'></img>
                    </div>
                    <div class="col-2">
                        <p class = 'texto'>Nome: {{ user.nome }} </p>
                        <p>Curso: {{ user.curso }} </p>
                        <p>Período: {{ user.periodo }}° Período </p>
                        <p>Ponto de Encontro: {{ user.ponto_de_encontro }} </p>
                        <p>{{ user.Carona }}</p>
                        <p>Alguns dos interesses deste usuário são:</p>
                        <p>-{{user.interesse1}}</p>
                        <p>-{{user.interesse2}}</p>
                        <p>-{{user.interesse3}}</p>
                    </div>
                    <div class = 'col-2'>
                        <p>{{user.bio}}</p>
                    </div>
                    <div class = "col-2">
                        <a  href = "/edicao-perfil" style = "background-color:#FDF6E3;border:none;height:80px;width:100px;">
                            <img src="{% static 'images/EditarPerfil.png' %}" style = "background-color:#FDF6E3;border:none;height:80px;width:100px;" >
                        </a>
                    </div>
                </div>
            
        </div>
    </body>
</html>