
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/groups/styles/styles.css'>
    <title>Consulta de Perfil</title>
</head>
<body style = "background-color: #268BD2;">
    <div style = "background-color: #FDF6E3;margin:50px;height: 100%;">

        <div class = "TituloImagem" style = "float:left">
            <h1 style = "padding-left: 780px;">ViniMRV</h1>
            <img src="../static/images/perfil_vazio.jpeg" alt="imagem de um perfil" style = "padding-left: 200px;padding-right: 300px;padding-bottom: 60px;" height="400px" width="500px">
        </div>
        
        <div style = "padding-bottom: 100px;padding-top: 100px;">
            <p >Nome: Vinicius Machado</p>
            <p>Curso: Engenharia da Computação</p>
            <p>Período: 4°</p>
            <p>Ponto de Encontro: Americas Shopping</p>
            <p style  = "padding-left: 1000px;">Busca Carona</p>
        </div>
        
        
       
        
        
    </div>
</body>
</html>

