
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../static/groups/styles/styles.css'>
    <title>Consulta de Perfil</title>
</head>
<body>
    <h1>Nome Usuário</h1>
    <p>Foto</p>
    <p>Nome:</p>
    <p>Curso:</p>
    <p>Período:</p>
    <p>Ponto de Encontro:</p>
    <p>Busca/Oferece Carona</p>

    
</body>
</html>


