{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> ![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Importando Estilos -->
        <link rel="stylesheet" href="{% static 'groups/styles/styles.css' %}">
        <link rel="stylesheet" href="{% static 'groups/styles/consulta-perfil.css' %}">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/015b8468ac.js" crossorigin="anonymous"></script>
        <title>PUCBook</title>
    </head>
    <body class="container d-flex flex-column justify-content-center fundoAzul">

        <div class="conteudo fundo-informacao p-2">

            <div class = "row">
              <div class = "col-lg-7">
                <div class = "card" style = "width:22rem;">
                    <div class = "card-body">

                      <div class = "card" style = "width:100%;border-color:Black">
                        <div class = "card-body">

                          <div >
                            <br><br><br><br><br><br><br>
                            <img src="{% static 'images/LuisFernando.jpg' %}" style = "width: 100%;height:100%;">
                          </div>
    
                          <br>
    
                          <div> 
                            
                            <button style="font-size:24px;background-color:#FDF6E3;border-radius:25px"> <a href = "consulta-perfil.html"></a> Luis Fernando Bicalho <i class="fa fa-user-circle"></i>  </button>
                            
                          </div>

                        </div>
                      </div>
                      
                      <br>
                      
                      <div class = "card" style = "width:100%;border-color:Black">
                        <div class = "card-body">
                          <div>
                            <button style="font-size:24px;background-color:#FDF6E3;border-radius:25px"><a href = "/"></a>Grupos que Participa <i class="fa fa-group"></i></button>
                          </div>
                        </div>
                      </div>

                      <br>

                      <div class = "card" style = "width:100%;border-color:Black">
                        <div class = "card-body">
                          <div>
                            <button style="font-size:24px;background-color:#FDF6E3;border-radius:25px"><a href = "/"></a>Eventos <i class="fa fa-glass"></i></button>
                          </div>
                        </div>
                      </div>
                    
                      <br>

                      <div class = "card" style = "width:100%;border-color:Black">
                        <div class = "card-body">
                          <div>
                            <button style="font-size:24px;background-color:#FDF6E3;border-radius:25px"><a href = "/"></a>Caronas <i class="fa fa-automobile"></i></button>
                          </div>
                        </div>
                      </div>

                      <br>
                      
                      <div class = "card" style = "width:100%;border-color:Black">
                        <div class = "card-body">
                          <div>
                            <button style="font-size:24px;background-color:#FDF6E3;border-radius:25px"><a href = "/chat"></a>Chats <i class="fa fa-comments"></i></button>
                          </div>
                        </div>
                      </div>
            
                      <br>

                      <div class = "card" style = "width:100%;border-color:Black">
                        <div class = "card-body">
                          <div>
                            <button style="font-size:24px;background-color:#FDF6E3;border-radius:25px">Adicionar Amigos <i class="fa fa-user-plus"></i></button>
                          </div>
                        </div>
                    </div>

                      <br><br><br><br><br><br><br>

                      <div>
                        <button type="submit" style = "Color:Red" class="btn btn-primary btn-lg"><a href="/Deslogar">Logout</a></button>
                      </div>

                  </div>
                </div>
              </div>

              <div class = "col-5 d-flex justify-content-center align-items-center">
                  <h1>PUCBOOK</h1>
              </div> 
            
            </div>
          </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>